<% if current_user %>
  <h3>Welcome: <%= current_user.email %></h3>
<% else %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="landing-text">
        <h1>Trial Docket</h1>      
        <p>Trial tech for trial lawyers</p>
      </div>
    </div>
    <br>
    <div class="col-md-12 text-center">
      <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-lg btn-primary" %>
    </div>
</div>
<% end %>